html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*CABECERA - NAV - LOGO - ENLACES*/
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px;
    transition: background-color 1.5s ease;
    position: relative;
    gap: 100px;
}
.cabecera01{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: #020203ec;
    padding: 20px;
    align-items: center;
}
.logo img{
    margin-left: 60px;
    width: 140px;
    position: absolute;
    top: 20px;
    left: 10;
    transition: opacity 1.5s ease;
}
.img2{
    opacity: 0;
    transition: opacity 1.5s ease;
}
.menu ul{
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    list-style: none;

}
.menu a{
    text-decoration: none;
    color: rgba(249, 248, 245, 1);
    font-weight: bold;
    font-family: "Nanum Myeongjo", serif;
    text-decoration: none;
    transition: color 0.5s ease;
    padding: 0;
    margin-left: 60px;
}
.menu i{
    margin-right: 8px;
}

header:hover{
    background-color: rgba(249, 248, 245, 1);
    color:#020203ec;
}
header:hover a{
    color:#020203ec;
}
header:hover .img2{
    opacity: 100;
}
.menu a:hover{
    color: red;
}

/* SECCIÓN 1 - 1 VIDEO DE FONDO -TEXTO DE INICIO  - BOTON */

.section01{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#020203ec;
}
.contenedorvideo{
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1;
}
.contenedorvideo video{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.titulo1{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color:rgba(249, 248, 245, 1);
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    margin-top: 240px;
}
.titulo1 h1{
    transition: color 1.5s ease;
    font-family: "Ruwudu", serif;
}
.boton01{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.boton01 a{
    background-color:rgba(249, 248, 245, 0.453);
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px;
    border-radius: 25px;
    color:#020203ec;
    z-index: 2;
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
    font-family: "Spectral SC", serif;
}
.boton01 a:hover{
    background-color:#02020390;
    color: rgb(249, 248, 245);
}
.section01:hover .titulo1 h1 {
    color: #b5b5c39b;
}

/* CABECERA 02 - ENVIA TUS DATOS*/
.cabecera02{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    background-color:#020203ec;
    place-items: center;
    justify-content: center;
}
.cabecera02 h2{
    color:rgb(249, 248, 245);
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Marvel", sans-serif;
}
.cabecera02 p{
    color:rgb(249, 248, 245);
    grid-column: 1/4;
    grid-row: 2;
    justify-content: center;
    font-family: "Judson", serif;
}

/* FORMULARIO GRID 2 COLUMNS - 1 ROW - 1 IMAGEN - 1 FORMULARIO*/

.section02{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    background-color: rgb(8, 8, 7);
    place-items: center;
}
.section02 img{
    border-radius: 25px;
    width: 60%;
    height: 89%;
    border:1px solid white;
}
.section02 form{
    background-color:#020203ec;
    text-align:left;
    width: 85%;
    height: 350px;
    border-radius: 25px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    color:rgb(254, 254, 254);
    text-transform: uppercase;
    border:1px solid white;
}
input[type="text"]{
    margin-left: 140px;
    background-color:rgb(56, 55, 52);
    border-radius: 25px;
    padding: 8px;
}
input[type="email"]{
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 25px;
    background-color:rgb(56, 55, 52);
    padding: 8px;
}
textarea{
    margin-top:-10px;
    margin-left: 140px;
    background-color:rgb(56, 55, 52);
    border-radius: 25px;
}
input[type="submit"]{
    margin-top: 12px;
    margin-left: 150px;
    background-color:rgb(56, 55, 52);
    color:rgb(254, 254, 254);
    padding: 8px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
}
input[type="submit"]:hover{
    background-color:rgb(254, 254, 254);
    color: rgb(56, 55, 52);
}

/* CABECERA 03 - UBICACIÓN*/

.cabecera03{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    z-index: 1;
    background-color:#020203ec;
    place-items: center;
    justify-content: center;
}
.cabecera03 h2{
    color:rgb(249, 248, 245);
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Marvel", sans-serif;
}
.cabecera03 p{
    color:rgb(249, 248, 245);
    grid-column: 1/4;
    grid-row: 2;
    justify-content: center;
    font-family: "Judson", serif;
}

/* SECCIÓN MAPA*/

.map{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 630px;
}
.map iframe{
    width: 100%;
    height: 100%;
}

/* CABECERA 04*/

.cabecera04{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    z-index: 1;
    background-color:#020203ec;
    place-items: center;
    justify-content: center;
}
.cabecera04 h2{
    color:rgb(249, 248, 245);
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Marvel", sans-serif;
}
.cabecera04 p{
    color:rgb(249, 248, 245);
    grid-column: 1/4;
    grid-row: 2;
    justify-content: center;
    font-family: "Judson", serif;
}

/* GALERIA GRID DE 4 COLUMS Y 2 ROWS - IMAGEN - TEXTO - TRANSICIÓN - EFECTOS POR IMAGEN*/

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 315px 300px;
    gap: 10px;
    padding: 15px;
    background-color: black;
    
}
.galeria img{
    width: 100%;
    height: 80%;
    border: 1px solid white;
    object-fit: cover;

}
.galeria span{
    color:rgb(249, 248, 245);
    object-fit: cover;
}
.caja{
    border-radius: 25px;
    border: 1px solid white;
    padding: 10px;
    transition: background-color 1.5s ease;
    overflow: hidden;
    object-fit: cover;
    font-family: "Jomhuria", serif;
    font-size: 27px;
}
.e1{
    grid-column:1/3;
    place-content: center;
    text-align: center;
}
.f1{
    grid-column:3/5;
    place-content: center;
    text-align: center;
}

.caja:hover{
    background-color:rgb(249, 248, 245);
}
.caja:hover span{
    color: black;
}
.caja:hover img{
    border-color: black;
    transform: scale(1.05)
}

/*FOOTER*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px 25px;
    background-color:rgb(56, 55, 52);
    place-items: center;
    color: white;
    text-transform: uppercase;
}
.redessociales a{
    color: white;
    justify-content: space-around;
    margin-left: 30px;
    font-size: 18px;
}
footer h3{
    color: white;
}